.scheduleContainer {
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
}

.colorPickerLabel {
  display: flex;
  align-items: center;
}

.scheduleContainer .colorPickerInput {
  width: 50px;
  cursor: pointer;
  padding: 3px 15px 3px 5px;
  margin-left: 20px;
  border-radius: 0;
  border: 0;
}

.colorPickerInput::after {
  content: "\02C5";
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
  transform: translateY(-50%);
}

.schoolNameAndColorBlock .schoolNameInput {
  max-width: 200px;
  text-align: left;
}

.daysOfWeekBlock button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 0;
  color: #000;
  background-color: #fff;
}

.btnPlus,
.btnMinus {
  width: 60px;
  height: 40px;
}

.setValueBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.valueDescription {
  font-size: 13px;
  border-left: 1px solid #bdbdbd;
  text-align: center;
  height: 38px;
  background: #f0f4f7;
  line-height: 11px;
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
}

.valueScreen {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
}

.value {
  width: 100%;
  text-align: center;
  padding: 0px 15px 0px 15px;
}

.teacherAndClassroomBlock {
  width: 100%;
}

.selectTeacher {
  width: 66%;
}

.selectClassroom {
  width: 32%;
}

.warningBlock p {
  background-color: #ffdbe7;
  padding: 10px 10px;
}

.dataBlock :first-child,
.dataBlock :last-child {
  width: 45%;
}

.dataBlock :nth-child(2) {
  width: 10%;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  color: white;
  background-color: #bdbdbd;
}

.daysOfWeekBlock :last-child,
.btnPlus {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.daysOfWeekBlock :first-child,
.btnMinus {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.scheduleContainer .startData {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.scheduleContainer .endData {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.endDataError {
  font-size: 12px;
  padding: 0;
  color: #fa8072;
}

.submitBlock {
  display: flex;
  justify-content: right;
}

hr {
  margin: 20px 0;
  border-color: #e8e8e83d;
}

.scheduleContainer .cancelBtn {
  background-color: white;
  color: black;
}

.submitBlock .addBtn,
.scheduleContainer .cancelBtn {
  background-color: white;
  color: black;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
}

.scheduleContainer .cancelBtn {
  background-color: white;
  color: black;
  border: 0;
}

.scheduleContainer .selectedDay {
  background-color: rgb(30, 143, 255);
  color: white;
}

.scheduleContainer .selectedDay :hover {
  background-color: #2b63ce;
}

@media (max-width: 460px) {
  .daysOfWeekBlock button {
    width: 11%;
    font-size: 12px;
  }

  .schoolNameAndColorBlock .schoolNameInput,
  .teacherAndClassroomBlock,
  .daysOfWeekBlock,
  .selectTeacher {
    margin-bottom: 10px;
  }

  .selectTeacher,
  .selectClassroom {
    width: 100%;
  }
}

@media (max-width: 700px) and (min-width: 460px) {
  .scheduleContainer .endDataError,
  .scheduleContainer .startDateValue,
  .scheduleContainer .endDateValue {
    font-size: 10px;
    padding: 0;
  }
}

@media (max-width: 395px) {
  .scheduleContainer .colorPickerInput {
    margin-left: 5px;
  }
  .schoolNameAndColorBlock .schoolNameInput {
    max-width: 120px;
  }
}
